build/src/CMakeFiles/excalib.dir/DependInfo.cmake
test.txt
test2.txt
.vscode/c_cpp_properties.json
.vscode/launch.json
build/CMakeCache.txt
build/Makefile
build/cmake_install.cmake
build/compile_commands.json
build/CMakeFiles/CMakeDirectoryInformation.cmake
build/CMakeFiles/CMakeOutput.log
build/CMakeFiles/Makefile.cmake
build/CMakeFiles/Makefile2
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/feature_tests.bin
build/CMakeFiles/feature_tests.c
build/CMakeFiles/feature_tests.cxx
build/CMakeFiles/progress.marks
build/CMakeFiles/3.10.2/CMakeCCompiler.cmake
build/CMakeFiles/3.10.2/CMakeCXXCompiler.cmake
build/CMakeFiles/3.10.2/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.10.2/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.10.2/CMakeSystem.cmake
build/CMakeFiles/3.10.2/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/3.10.2/CompilerIdC/a.out
build/CMakeFiles/3.10.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/3.10.2/CompilerIdCXX/a.out
build/src/Makefile
build/src/cmake_install.cmake
build/src/excalib
build/src/test
build/src/testexcalib
build/src/CMakeFiles/CMakeDirectoryInformation.cmake
build/src/CMakeFiles/progress.marks
build/src/CMakeFiles/excalib.dir/CXX.includecache
build/src/CMakeFiles/excalib.dir/Calibrator.cpp.o
build/src/CMakeFiles/excalib.dir/FrameData.cpp.o
build/src/CMakeFiles/excalib.dir/ImageData.cpp.o
build/src/CMakeFiles/excalib.dir/ImuData.cpp.o
build/src/CMakeFiles/excalib.dir/LowPassFilter.cpp.o
build/src/CMakeFiles/excalib.dir/Preintegrator2.cpp.o
build/src/CMakeFiles/excalib.dir/RightJacobian.cpp.o
build/src/CMakeFiles/excalib.dir/build.make
build/src/CMakeFiles/excalib.dir/cmake_clean.cmake
build/src/CMakeFiles/excalib.dir/depend.internal
build/src/CMakeFiles/excalib.dir/depend.make
build/src/CMakeFiles/excalib.dir/excalib.cpp.o
build/src/CMakeFiles/excalib.dir/flags.make
build/src/CMakeFiles/excalib.dir/link.txt
build/src/CMakeFiles/excalib.dir/progress.make
build/src/CMakeFiles/test.dir/CXX.includecache
build/src/CMakeFiles/test.dir/DependInfo.cmake
build/src/CMakeFiles/test.dir/LowPassFilter.cpp.o
build/src/CMakeFiles/test.dir/Preintegrator.cpp.o
build/src/CMakeFiles/test.dir/build.make
build/src/CMakeFiles/test.dir/cmake_clean.cmake
build/src/CMakeFiles/test.dir/depend.internal
build/src/CMakeFiles/test.dir/depend.make
build/src/CMakeFiles/test.dir/flags.make
build/src/CMakeFiles/test.dir/link.txt
build/src/CMakeFiles/test.dir/progress.make
build/src/CMakeFiles/test.dir/test.cpp.o
build/src/CMakeFiles/testexcalib.dir/CXX.includecache
build/src/CMakeFiles/testexcalib.dir/DependInfo.cmake
build/src/CMakeFiles/testexcalib.dir/Preintegrator.cpp.o
build/src/CMakeFiles/testexcalib.dir/build.make
build/src/CMakeFiles/testexcalib.dir/cmake_clean.cmake
build/src/CMakeFiles/testexcalib.dir/depend.internal
build/src/CMakeFiles/testexcalib.dir/depend.make
build/src/CMakeFiles/testexcalib.dir/flags.make
build/src/CMakeFiles/testexcalib.dir/link.txt
build/src/CMakeFiles/testexcalib.dir/progress.make
build/src/CMakeFiles/testexcalib.dir/test.cpp.o
build/src/CMakeFiles/excalib.dir/NewKeyPoint.cpp.o
build/CMakeFiles/Progress/1
build/CMakeFiles/Progress/12
build/CMakeFiles/Progress/13
build/CMakeFiles/Progress/14
build/CMakeFiles/Progress/2
build/CMakeFiles/Progress/5
build/CMakeFiles/Progress/count.txt
build/src/CMakeFiles/excalib.dir/CvVisualizer.cpp.o
build/src/CMakeFiles/excalib.dir/worldpt.cpp.o
build/src/CMakeFiles/excalib.dir/Preintegrator.cpp.o
build/src/CMakeFiles/excalib.dir/ceres_BA.cpp.o
.vscode/settings.json
build/src/CMakeFiles/excalib.dir/ceres_BA.cpp.o
build/src/CMakeFiles/excalib.dir/ceres_BA.cpp.o
in.txt
config.xml
out.txt
.vscode/settings.json
build/CMakeFiles/CMakeError.log
build/CMakeFiles/Progress/15
build/src/in.txt
build/src/out.txt
build/src/CMakeFiles/excalib.dir/ExtCalibrator.cpp.o
build/src/CMakeFiles/excalib.dir/Frame.cpp.o
build/src/CMakeFiles/excalib.dir/Parameters.cpp.o
build/src/CMakeFiles/excalib.dir/PclVisualizerWrapper.cpp.o
build/src/CMakeFiles/excalib.dir/ceres_BA.cpp.o
build/src/CMakeFiles/excalib.dir/custom_ceres/ceres_BA.cpp.o
build/src/CMakeFiles/excalib.dir/custom_gtsam/gtsam_slam.cpp.o
doc/overalldiagramsvg.svg
build/src/in.txt
imuFactorExampleResults.csv
.vscode/settings.json
build/src/imuFactorExampleResults.csv
build/src/libRelativeImuFactor.so
build/src/out.txt
build/src/testimu
build/src/CMakeFiles/RelativeImuFactor.dir/CXX.includecache
build/src/CMakeFiles/RelativeImuFactor.dir/DependInfo.cmake
build/src/CMakeFiles/RelativeImuFactor.dir/build.make
build/src/CMakeFiles/RelativeImuFactor.dir/cmake_clean.cmake
build/src/CMakeFiles/RelativeImuFactor.dir/cmake_clean_target.cmake
build/src/CMakeFiles/RelativeImuFactor.dir/depend.internal
build/src/CMakeFiles/RelativeImuFactor.dir/depend.make
build/src/CMakeFiles/RelativeImuFactor.dir/flags.make
build/src/CMakeFiles/RelativeImuFactor.dir/link.txt
build/src/CMakeFiles/RelativeImuFactor.dir/progress.make
build/src/CMakeFiles/RelativeImuFactor.dir/Preintegration/RelativeImuFactor.cpp.o
build/src/CMakeFiles/excalib.dir/ExtCalibrator.cpp.o
build/src/CMakeFiles/excalib.dir/Frame.cpp.o
build/src/CMakeFiles/excalib.dir/Parameters.cpp.o
build/src/CMakeFiles/excalib.dir/Preintegration/RelativeImuFactor.cpp.o
build/src/CMakeFiles/testexcalib.dir/RightJacobian.cpp.o
build/src/CMakeFiles/testimu.dir/CXX.includecache
build/src/CMakeFiles/testimu.dir/DependInfo.cmake
build/src/CMakeFiles/testimu.dir/build.make
build/src/CMakeFiles/testimu.dir/cmake_clean.cmake
build/src/CMakeFiles/testimu.dir/depend.internal
build/src/CMakeFiles/testimu.dir/depend.make
build/src/CMakeFiles/testimu.dir/flags.make
build/src/CMakeFiles/testimu.dir/link.txt
build/src/CMakeFiles/testimu.dir/progress.make
build/src/CMakeFiles/testimu.dir/Preintegration/ImuFactorsExample.cpp.o
build/src/CMakeFiles/testimu.dir/Preintegration/RelativeCombinedImuFactor.cpp.o
build/src/CMakeFiles/testimu.dir/Preintegration/RelativeImuFactor.cpp.o
build/src/CMakeFiles/testimu.dir/Preintegration/RelativeImuFactorsExample.cpp.o
build/src/CMakeFiles/testimu.dir/Preintegration/RelativeManifoldPreintegration.cpp.o
build/src/CMakeFiles/testimu.dir/Preintegration/RelativeNavState.cpp.o
build/src/CMakeFiles/testimu.dir/Preintegration/RelativePreintegrationBase.cpp.o
build/src/CMakeFiles/testimu2.dir/CXX.includecache
build/src/CMakeFiles/testimu2.dir/DependInfo.cmake
build/src/CMakeFiles/testimu2.dir/build.make
build/src/CMakeFiles/testimu2.dir/cmake_clean.cmake
build/src/CMakeFiles/testimu2.dir/depend.internal
build/src/CMakeFiles/testimu2.dir/depend.make
build/src/CMakeFiles/testimu2.dir/flags.make
build/src/CMakeFiles/testimu2.dir/link.txt
build/src/CMakeFiles/testimu2.dir/progress.make
build/src/CMakeFiles/testimu2.dir/Preintegration/ImuFactorsExample.cpp.o
build/src/CMakeFiles/testimu2.dir/Preintegration/RelativeManifoldPreintegration.cpp.o
build/src/CMakeFiles/testimu2.dir/Preintegration/RelativePreintegrationBase.cpp.o
