<CONFIG>
	<CALIBRATION>
		<CAMNAME>2554</CAMNAME>
		<FC>
		    <VALUE>609.995173118313232</VALUE>
		    <VALUE>616.931905036157900</VALUE>
		</FC>
		<CC>
		    <VALUE>382.503162687338374</VALUE>
		    <VALUE>245.479029559645056</VALUE>
		</CC>
		<KC>
		    <VALUE>-0.135174425459394</VALUE>
		    <VALUE>0.124463816968010</VALUE>
		    <VALUE>0.000544090737966</VALUE>
		    <VALUE>0.001665138968819</VALUE>
		    <VALUE>0.000000000000000</VALUE>
		</KC>
		<IMAGEWIDTH>752</IMAGEWIDTH>
		<IMAGEHEIGHT>480</IMAGEHEIGHT>
	</CALIBRATION>
	<FEATURE>
		<MATCHINGTYPE>TRACKING</MATCHINGTYPE>
		<MINTRACKEDNUMBER>100</MINTRACKEDNUMBER>
		<FAST>
			<NMS>1</NMS>
			<FASTTHRESHOLD>5</FASTTHRESHOLD>
		</FAST>
		<GFTT>
			<USEHARRIS>true</USEHARRIS>
			<MAXFEATURENUMBERS>1500</MAXFEATURENUMBERS>
			<!-- For example, if the best corner has the quality measure = 1500, and the qualityLevel=0.01 , then all the corners which quality measure is less than 15 will be rejected. -->  
			<QUALITYLEVEL>0.001</QUALITYLEVEL>
			<MINDISTFEATURE>5</MINDISTFEATURE>
			<BLOCKSIZE>3</BLOCKSIZE>
			<K>0.04</K>
		</GFTT>
		<KLT>
			<MINEIGEN>0.0001</MINEIGEN>
		</KLT>
	</FEATURE>
	<LOWPASSFILTER>
		<CUTOFFFREQ>20</CUTOFFFREQ>
		<DELTATIME>0.001</DELTATIME>
	</LOWPASSFILTER>
</CONFIG>
